@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jua";
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }

  .Spinner {
    width: 640px;
  }

  .DiaryItem .emotion_img_wrapper {
    width: 120px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90wh;
  }

  .Spinner {
    width: 90wh;
  }
  .DiaryItem {
    width: 360px;
  }

  .DiaryItem .info_wrapper {
    width: 135px;
    margin-right: 5px;
  }

  .login_wrapper {
    width: 90wh;
  }

  .menu_wrapper {
    width: 350px;
  }
  .left-col {
    display: flex;
  }
  .ControlMenu {
    width: 105px;
  }

  .login_wrapper {
    width: 400px;
    display: flex;
    align-items: center;
  }

  .login_wrapper > img {
    width: 400px;
  }

  .thumbnail_text {
    width: 285px;
  }

  .DiaryPage .head_btn_left .MyButton,
  .DiaryPage .head_btn_right .MyButton,
  .DiaryEditor .head_btn_left .MyButton,
  .DiaryEditor .head_btn_right .MyButton {
    font-size: 18px;
    width: 90px;
    padding: 10px 10px;
  }

  .DiaryPage .head_text {
    width: 150px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .DiaryEditor .head_text {
    font-size: 20px;
  }

  .Modal_Box {
    transform: translate(50%, 0);
    top: 45%;
    left: -25%;
    z-index: 20;
  }
}

#root {
  background-color: white;
  box-shadow: rbga(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  height: 900px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.App::-webkit-scrollbar {
  display: none;
}

h4 {
  font-family: "Humanbumsuk";
}

/* My Button  */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 20px;

  font-size: 20px;
  font-family: "Dovemayo_gothic";

  white-space: nowrap;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #00b0f0;
  color: #1c1c1c;
}

.MyButton_negative {
  background-color: #fd565f;
  color: #1c1c1c;
}

/*  My Header  */

header {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  user-select: none;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Dovemayo_gothic";
}

.DiaryPage header {
  padding-left: 0px;
  padding-right: 0px;
}

.DiaryEditor header {
  padding-left: 0px;
  padding-right: 0px;
}

/* Thumbnail */

.login_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}

.thumbnail_text {
  font-family: "Dovemayo_gothic";
  font-size: 22px;
  margin-bottom: 100px;
  color: #1c1c1c;
}

.thumbnail_text > span {
  display: block;
  margin-top: 8px;
}

.kakao_btn {
  width: 250px;
  height: 48px;
  border-radius: 8px;
  background: none;
  background-color: #ffe400;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.test_login {
  width: 250px;
  height: 48px;
  border-radius: 8px;
  background: none;
  background-color: #1bbbff;
  color: #1c1c1c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
}

.kakao_logo {
  margin-right: 8px;
}

/*  DiaryList  */

.DiaryList {
  padding: 0 20px;
}

.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.DiaryList .menu_wrapper .right-col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right-col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 10px 20px;

  cursor: pointer;

  font-family: "Jua";
}

/*  DiaryItem */

.DiaryItem {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
  font-family: "Dovemayo_gothic";
  user-select: none;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 80px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  cursor: pointer;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 60px;
}

/* DiaryEditor */

.DiaryEditor {
  user-select: none;
  padding: 0 20px;

  position: relative;
}

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 22px;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding: 10px 20px;

  cursor: pointer;
  font-family: "Jua";
  font-size: 20px;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-family: "Dovemayo_gothic";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #e2e2e2;

  padding: 20px;

  outline: none;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Emotion Item */

.EmotionItem {
  cursor: pointer;

  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;

  user-select: none;

  font-family: "Dovemayo_gothic";
  font-size: 15px;
}

.EmotionItem img {
  margin: 0 2px;
  margin-bottom: 10px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: #1c1c1c;
}

.EmotionItem_on_2 {
  background-color: #9dd772;
  color: #1c1c1c;
}

.EmotionItem_on_3 {
  background-color: #fdce17;
  color: #1c1c1c;
}

.EmotionItem_on_4 {
  background-color: #fd8446;
  color: #1c1c1c;
}

.EmotionItem_on_5 {
  background-color: #fd565f;
  color: #1c1c1c;
}

/* Diary */

.DiaryPage {
  padding: 0 20px;
}

.DiaryPage section {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.DiaryPage h4 {
  font-size: 22px;
  font-weight: bold;
  user-select: none;
}

.DiaryPage .diary_img_wrapper {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}

.DiaryPage .emotion_descript {
  font-size: 25px;
  font-family: "Dovemayo_gothic";
  color: #1c1c1c;
  user-select: none;
}

.DiaryPage .diary_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryPage .diary_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryPage .diary_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryPage .diary_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryPage .diary_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryPage .diary_content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-family: "Dovemayo_gothic";
  font-weight: 400;
  line-height: 2.5;
}

/* footer */

.myfooter {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Dovemayo_gothic";
  padding: 0 20px;
}

.myfooter div {
  display: flex;
  align-items: center;
}

.myfooter span {
  margin-left: 7px;
  color: grey;
}

.myfooter button {
  background-color: #ffffff;
  border: 1px solid #4269f5;
  border-radius: 5px;
  padding: 4px 8px;
  color: #4269f5;
  font-family: "Dovemayo_gothic";
  cursor: pointer;
}

/* Modal */

.Modal_Box {
  position: absolute;
  transform: translate(50%, 0);
  top: 45%;
  z-index: 20;
}

.Modal_Wrapper {
  font-family: "Dovemayo_gothic";
  width: 311px;
  height: 152px;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #1c1c1c;
  justify-content: center;
  font-size: 20px;
}

.Modal_Background {
  background-color: #a8a8a8;
  position: fixed;
  width: 660px;
  height: 900px;
  opacity: 0.65;
  z-index: 10;
}

.Modal_Text {
  height: 20px;
  margin: 0;
}

.Modal_Btn_Wrapper {
  display: flex;
  width: 186px;
  height: 19px;
  margin-top: 42px;
  align-items: center;
  justify-content: space-between;
}

.Modal_Btn {
  font-family: "Dovemayo_gothic";
  border: none;
  background-color: inherit;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  width: 60px;
  font-size: 18px;
}

.Modal_Btn:hover {
  color: #1bbbff;
}

/* Spinner */
.Spinner {
  width: 640px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toast */
.ToastContainer {
  z-index: 20;
  position: absolute;
  transform: translate(0, 0);
  top: 50%;
  left: 25%;
}

.ToastWrapper {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #1c1c1c;
  font-size: 18px;
  font-family: "Dovemayo_gothic";
  text-align: center;
  line-height: 50px;
  opacity: 95%;
  box-shadow: 1px 1px 1px 0px #e2e2e2;
}
